services:
  cloudx-reverse-proxy:
    image: nginx:alpine
    container_name: cloudx-reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"        # publish on host (point Cloudflare Tunnel here if you use one)
    environment:
      # Default upstreams: host network ports (backend on 5001, frontend on 3000)
      BACKEND_UPSTREAM: "http://host.docker.internal:5001"
      FRONTEND_UPSTREAM: "http://host.docker.internal:3000"
    extra_hosts:
      # Ensures host.docker.internal resolves on Linux
      - "host.docker.internal:host-gateway"
    volumes:
      - ./nginx.conf.template:/etc/nginx/conf.d/default.conf.template:ro
    command: >
      /bin/sh -c "envsubst '$$BACKEND_UPSTREAM $$FRONTEND_UPSTREAM'
      < /etc/nginx/conf.d/default.conf.template
      > /etc/nginx/conf.d/default.conf
      && exec nginx -g 'daemon off;'"
